.contacts {
    font-style: normal;
    min-width: 231px;
    margin-bottom: 60px;
    @include desktop {
      margin-bottom: 0;
      margin-right: 70px;
    }
  }

  .contacts-thumb {
    padding: 0;
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      align-items: baseline;
    }
    // @include desktop {
    //   justify-content: space-between;
    // }
    &__item {
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 50%;
      }  
    }
  }
  .contacts-wrap {
    text-align: center;
    @include desktop {
      text-align: left;
    }
  }

  .contacts__item {
    @include font(400, 14px, 1.71, 0.03em);

    &:not(:last-child) {
      margin-bottom: 8px;
      @include desktop {
        margin-bottom: 9px;
      }      
    }
  }

  .contacts__link {
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--animation);
    
    &--white {
      color: var(--white);
    }
    
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  