.socials {
  display: block;
  margin-bottom: 60px;
  @include desktop {
    margin-bottom: 0;
  }

  &__list {
    display: flex;
    justify-content: center;
    
  }
  &__icon {
    fill: currentColor;
  }
}
  
.socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);
  transition: background-color var(--animation);
  
  &:hover,
  &:focus {
  background-color: var(--accent-color);
  }
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}